*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline{
    position: relative;
    max-width: 1200;
    margin: 50px auto;
}
.containers{
    padding: 10px;
    position: relative;
    /* width: 80%; */
    animation: movedown 1s linear forwards;
    opacity: 0;
    
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container :nth-child(1){
animation-delay: 0s;
}
.container :nth-child(2){
    animation-delay: 1s;
}
.container :nth-child(3){
  animation-delay: 3s;
}
.container :nth-child(4){
    animation-delay: 4s;
}
 

.text-box{
    padding: 10px 20px;
    background: #29335c;
    position: relative;
    border-radius: 6px;
    color: white;
    font-size: 12px;
}
.left-container{
    /* left: 0; */
    left: -190px;
}
.left-exp-container{
left: -231px;
}

.right-container{
    left: 68%;
}
.right-exp-container .target{
    left: 180px
}

.container .target{
    position: absolute;
    width: 30px;
    border-radius: 50%;
    right: -66px;
    top:32px;
    z-index: 12;
}

.right-container .target{
    left: -61px;
}

.timeline::after{
    content: " ";
    position: absolute;
    width: 6px;
    height: 100%;
    background:#607D8B;
    /* background: red; */
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }

}

.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #607D8B;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #607D8B;
    left: -15px;
}


@media screen and (max-width:650px){
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }
    .containers{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }

    .text-box small{
       margin-bottom: 10px;
    }
    .right-container{
        left: 12px;
    }
    .left-container {
        left: 12px;
    }

    .left-container .target, .right-container .target{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #607D8B;
        border-left: 0;
        left: -15px;
    }
}