.about_profile{
    background: url(../../../public/assets/about-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 12px;
    margin: 10px auto;
}
.about_card{
    display: flex;
    justify-content: center;
    margin: auto 5px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #29335c ;
    width: 140px;
    height: 150px;
    cursor: pointer;
}