
*{
    padding: 0;
    margin: 0;
}
.contact-card{
    border: 1px solid black;
    border-radius: 10px;
}
.font-icon{
    font-size: 25px;
}

.input-container .inp{
    outline: none;
    /* width: 60%; */
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    margin: 5px 0;
    font-size: 15px;
}
